*{
    font-family: 'Roboto';
}

.page-wrapper{
    display: flex;
    flex-direction: column;
}

.page-body{
    flex-grow: 1;
}

#page-header{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0px;
}
#page-footer{
    width: 100%;
}


/* header CSS */
.head-wrapper{
    width: 100%;
    border-bottom: 1px rgb(183, 174, 174) solid;
    display: flex;
    justify-content: center;
}
.header{
    width: 1206px;
    height: 85px;
    display: flex;
    justify-content: space-between;
}
.header-part{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}
/* .header .page-title{
    text-align: left;
} */
.header .page-title a h2{
    text-decoration: none;
    padding-top: 10px;
    color: rgb(96, 95, 95);
}
.header .page-title a h2:hover{
    text-decoration: underline;
    color: rgb(96, 95, 95);
}
.header .page-menu{
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.header .page-menu a{
    margin-left: 25px;
    text-decoration: none;
    color: rgb(86, 85, 85);
}
@media screen and (min-width: 945px){
    .header .responsive{
        display: flex;
        align-items: center;
    }
    .header .responsive a{
        margin-left: 25px;
        text-decoration: none;
        color: rgb(86, 85, 85);
    }
}

.header a:hover{
    text-decoration: underline;
}
.page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-icon{
    display: none;
}
/* .nav-icon a{
    
} */
@media screen and (max-width: 945px) {
    .header{
        width: 80%;
    }
    .page-menu a{display: none;}
    /* .nav-icon .icon{
        position: relative;
        left: 120px;
    } */
    .nav-icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page-menu a.icon {
      float: left;
      display: block;
    }
}
@media screen and (max-width: 945px) {
    .page-menu .responsive {position: relative;}
    /* .page-menu .responsive .icon{
         
    } */
    .header .responsive{
        width: 200px;
        position: fixed;
        top: 80px;
        background-color: white;
        right: 0px;
    }
    .header .responsive a{
        width: 200px;
        display: block;
        padding: 10px;
        color: rgb(86, 85, 85);
    }
}  
/* project component css */


/* tag */
.tags{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.tag{
    background-color: rgb(233, 227, 227);
    padding: 0px 6px 0px 6px;
    margin: 0px 15px 7px 0px;
    border-radius: 7px;
    font-size: small;
}

p{
    color: rgb(86, 85, 85);
}

/* style footer */

.footer{
    height: 70px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(194, 193, 193);
}

@media screen and (max-width: 1240px) {
    .header{
        width: 830px;
    }
}